@import "../variables";
@import "../mixins";

.single-offer-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $light-bg;
  padding-bottom: 74px;

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-bottom: 0;
  }

  .single-offer-table-wrapper {
    width: 100%;
    max-width: 1234px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "header employee"
      "data employee";

    @media (max-width: 1024px) {
      max-width: 100%;
      grid-template-columns: auto;
      grid-template-rows: auto auto 486px;
      grid-template-areas:
        "header"
        "data"
        "employee";
    }

    .single-offer-header-wrapper {
      grid-area: header;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .single-offer-title-wrapper {
        max-width: 440px;
        .single-offer-title {
          height: 96px;
          color: $dark-blue;
          font-family: $grotesk-reg;
          font-size: 28px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 35px;
          text-align: left;
        }

        .single-offer-type {
          height: 30px;
          color: $dark-blue;
          font-family: $grotesk-reg;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: left;
        }
      }
      .single-offer-price-wrapper {
        .single-offer-price {
          height: 47px;
          color: $orange;
          font-family: $grotesk-reg;
          font-size: 28px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: normal;
          line-height: 47px;
          text-align: right;
          text-transform: uppercase;
        }

        .single-offer-price-sqm {
          height: 30px;
          color: $dark-blue;
          font-family: $grotesk-reg;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: right;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 10px;

        .single-offer-title-wrapper {
          max-width: 100%;

          .single-offer-type {
            height: 46px;
            padding-top: 16px;
          }
        }

        .single-offer-price-wrapper {
          padding-bottom: 16px;
          .single-offer-price,
          .single-offer-price-sqm {
            text-align: left;
          }

          .single-offer-price {
            font-size: 24px;
            line-height: 35px;
          }

          .single-offer-price-sqm {
            font-size: 14px;
            line-height: 30px;
          }
        }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .single-offer-data-wrapper {
      grid-area: data;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 90px 265px;
      gap: 0;
      grid-template-areas:
        "area rooms year offer_id"
        "data_01 data_01 data_02 data_02";
      border-top: 1px dashed $light-blue;
      border-bottom: 1px dashed $light-blue;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        height: 1px;
        border: none;
        border-bottom: 1px dashed $light-blue;
      }

      .data-cell-data_01 {
        grid-area: data_01;
      }

      .data-cell-data_02 {
        grid-area: data_02;
      }

      .data-cell.area {
        grid-area: area;
        .icon-wrapper {
          background: url("../assets/graphics/powierzchnia.svg") no-repeat;
        }
      }

      .data-cell.rooms {
        grid-area: rooms;
        .icon-wrapper {
          background: url("../assets/graphics/l.pokoi.svg") no-repeat;
        }
      }

      .data-cell.year {
        grid-area: year;
        .icon-wrapper {
          background: url("../assets/graphics/rok-budowy.svg") no-repeat;
        }
      }

      .data-cell.offer_id {
        grid-area: offer_id;
        .icon-wrapper {
          background: url("../assets/graphics/id-oferty.svg") no-repeat;
        }
      }

      .data-cell {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 20px;

        .icon-wrapper {
          width: 26px;
          height: 26px;
          margin-right: 26px;
          background-size: cover;
        }
        .data-wrapper {
          .data-name {
            color: $light-blue;
            font-family: $grotesk-reg;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 25px;
            text-align: left;
          }

          .data-value {
            color: $darker-blue;
            font-family: $grotesk-reg;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
          }
        }

        &.area,
        &.rooms {
          width: 215px;
        }

        &.year {
          width: 240px;
        }

        &.offer_id {
          justify-self: end;
        }
      }
      .data-cell-data_01,
      .data-cell-data_02 {
        padding-top: 37px;
        .data-row {
          display: flex;
          justify-content: space-between;

          .data-name {
            color: $light-blue;
            font-family: $grotesk-reg;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 39px;
            text-align: left;
          }

          .data-value {
            color: $darker-blue;
            font-family: $grotesk-reg;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 39px;
            // text-align: left;
            text-align: right;
          }
        }
      }
      .data-cell-data_01 {
        width: 430px;
        .data-row {
          .data-name {
            width: 155px;
          }

          // .data-value {
          //   // width: 155px;
          // }
        }
      }

      .data-cell-data_02 {
        width: 376px;
        padding-left: 95px;

        // .data-row {
        //   .data-value {
        //     // width: 64px;
        //   }
        // }
      }

      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        gap: 0;
        grid-template-areas:
          "area rooms"
          "year offer_id"
          "data_01 data_01"
          "data_02 data_02";
        border-bottom: none;

        &::after {
          display: none;
        }

        .data-cell.offer_id {
          justify-self: start;
          padding-bottom: 18px;
        }

        .data-cell {
          .icon-wrapper {
            margin-right: 16px;
          }
          .data-wrapper {
            .data-name {
              color: $light-blue;
              font-family: $grotesk-reg;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 20px;
              text-align: left;
            }

            .data-value {
              color: $darker-blue;
              font-family: $grotesk-reg;
              font-size: 14px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: 20px;
              line-height: normal;
            }
          }

          &.area,
          &.rooms,
          &.year,
          &.offer_id {
            width: 100%;
          }

          &.rooms,
          &.offer_id {
            padding-left: 16px;
          }
        }

        .data-cell-data_01,
        .data-cell-data_02 {
          padding-top: 0;
          width: 100%;
          padding-left: unset;
          .data-row {
            .data-name {
              width: 50%;
              font-size: 14px;
              line-height: 35px;
            }

            .data-value {
              width: 50%;
              font-size: 14px;
              line-height: 35px;
              padding-left: 16px;
            }
          }
        }

        .data-cell-data_01 {
          padding-top: 18px;
          border-top: 1px dashed $light-blue;
        }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .data-cell-data_01 {
          width: 53.35%;
          min-width: 388px;
          max-width: 430px;
        }
        .data-cell-data_02 {
          width: 46.65%;
          min-width: 339px;
          max-width: 376px;
          padding-left: 75px;
        }

        .data-cell {
          &.area,
          &.rooms,
          &.year {
            width: 26.67%;
            min-width: 194px;
            max-width: 215px;
          }

          &.offer_id {
            justify-self: end;
          }
        }
      }
    }

    .single-offer-employee-wrapper {
      grid-area: employee;
      .member {
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;
        padding: 0 10px;
        padding: 0;
        position: relative;
        .member-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          // height: 324px;
          // width: 281px;
          // margin-bottom: -133px;
        }
        .member-contact-wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          padding-bottom: 31px;
          background: $white;
          box-shadow: 0 2px 100px #e1e2f4;
          .member-name {
            margin-top: 30px;
            color: $blue;
            font-family: $poppins;
            font-weight: 400;
            font-size: 20px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: center;
          }
          .member-function {
            margin-top: 0;
            color: $light-blue;
            font-family: $poppins;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: center;
          }
          .member-phone {
            margin-top: 16px;
            color: $mid-blue;
            font-family: $poppins;
            font-weight: 400;
            font-size: 20px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
          }
          .member-email {
            margin-top: 2px;
            color: $light-blue;
            font-family: $poppins;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
          }
          .member-offers {
            margin-top: 24px;
            color: $orange;
            font-family: $grotesk-reg;
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
          }

          .member-text {
            color: $dark-blue;
            font-family: $grotesk-reg;
            font-size: 13px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 20px;
            text-align: center;
          }
        }
      }

      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        display: none;
      }

      @media (min-width: 1280px) {
        justify-self: end;
        .member {
          width: 380px;
          max-width: 380px;
          height: 486px;

          // .member-image {
          //   // height: 362px;
          //   // width: 347px;
          //   // margin-bottom: -125px;
          // }
          .member-contact-wrapper {
            width: 380px;
            padding-bottom: 25px;
            .member-name {
              margin-top: 24px;
            }
            .member-function {
              margin-top: 0;
            }
            .member-phone {
              margin-top: 24px;
            }
            .member-email {
              margin-top: 2px;
            }
            .member-offers {
              margin-top: 38px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1280px) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: $light-bg;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}
