@import "../variables";
@import "../mixins";

.offers {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;
  padding-top: 40px;
  margin-bottom: 60px;

  .offers-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .offer-wrapper {
      width: 100%;
      max-width: 380px;
      height: 357px;
      margin-bottom: 47px;
      position: relative;

      .offer-item {
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 76px #e1e2f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .offer-image-wrapper {
          width: 100%;
          height: 186px;
          position: relative;
          overflow: hidden;

          .offer-image {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: auto;
            min-height: 186px;
            transform: translateX(-50%);
          }
        }

        .offer-text-wrapper {
          padding: 14px 22px 0;
          height: 171px;

          .offer-title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
            color: $dark-blue;
            font-family: $grotesk-reg;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            margin-bottom: 7px;
          }

          .offer-transaction {
            color: $light-blue;
            font-family: $grotesk-reg;
            font-weight: 400;
            font-size: 13px;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: left;
            margin-bottom: 14px;
            align-self: flex-start;
          }

          .offer-price {
            height: 21px;
            color: $orange;
            font-family: $grotesk-reg;
            font-weight: 700;
            font-size: 18px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            margin-bottom: 2px;
            align-self: flex-start;
          }

          .offer-parameters {
            width: 100%;
            height: 22px;
            display: flex;
            justify-content: space-between;

            .offer-area {
              height: 22px;
              font-size: 13px;
              line-height: 22px;
              color: $light-blue;
              font-family: $grotesk-reg;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              text-align: left;
            }

            .offer-rooms {
              height: 22px;
              font-size: 13px;
              line-height: 22px;
              color: $light-blue;
              font-family: $grotesk-reg;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              text-align: right;

              span {
                color: $dark-blue;
                font-family: $grotesk-reg;
                font-weight: 700;
                text-align: right;
              }
            }
          }
        }
      }

      a {
        opacity: 0;
        text-decoration: none;
        transition: opacity 0.5s ease-in-out;

        .show-offer-button {
          @include button;

          position: absolute;
          left: 50%;
          bottom: 16.2%;
          transform: translateX(-50%);

          @media (max-width: 934px) {
            font-size: 15px;
          }
        }
      }

      &:hover a {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
      }
    }
  }

  .pagination-wrapper {
    width: 100%;
    // padding: 48px 0 52px;
    display: flex;
    justify-content: center;
    align-items: center;

    .offers-amount {
      display: none;

      @media (min-width: 934px) {
        display: block;
        margin-right: auto;
        color: $dark-blue;
        font-family: $poppins;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        padding-bottom: 20px;
      }
    }

    .page-numbers {
      height: 41px;
      width: 41px;
      margin: 0;
      margin-top: 28px;
      margin-bottom: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $orange;
      font-family: $poppins;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 20px;
      border: 1px solid #e1e2f4;
      margin-left: 9px;

      &.prev {
        margin-left: 0;
        background: url("../assets/graphics/strzalka-l.svg") no-repeat;
        background-size: 19px 17px;
        background-position: center;
      }

      &.next {
        background: url("../assets/graphics/strzalka-r.svg") no-repeat;
        background-size: 19px 17px;
        background-position: center;
      }

      &.current {
        border-radius: 20px;
        border: 1px solid $orange;
      }

      &.dots {
        border-radius: 20px;
        border: 1px solid #e1e2f4;
      }

      @media (min-width: 934px) {
        height: 63px;
        width: 63px;
        border-radius: 32px;
        font-size: 25px;
        margin-left: 16px;

        &.prev {
          margin-left: 0;
          background: url("../assets/graphics/strzalka-l.svg") no-repeat;
          background-size: 19px 17px;
          background-position: center;
        }

        &.next {
          background: url("../assets/graphics/strzalka-r.svg") no-repeat;
          background-size: 19px 17px;
          background-position: center;
        }

        &.current {
          border-radius: 32px;
          border: 1px solid $orange;
        }

        &.dots {
          border-radius: 32px;
          border: 1px solid #e1e2f4;
        }

        &.last {
          border-radius: 32px;
          border: 1px solid #e1e2f4;
        }
      }
    }

    @media (min-width: 934px) {
      justify-content: flex-end;
      .page-numbers {
        margin: 20px;
        margin-top: 28px;
        margin-bottom: 52px;
        margin-left: 16px;
      }
    }

    @media (min-width: 1280px) {
      width: 1234px;
      .page-numbers {
        margin: 0;
        margin-top: 28px;
        margin-bottom: 52px;
        margin-left: 16px;
      }
    }
  }

  @media (min-width: 617px) {
    padding: 40px 0 20px;
    .offers-wrapper {
      justify-content: space-around;
      width: 617px;
    }
  }

  @media (min-width: 934px) {
    padding: 40px 0 20px;
    .offers-wrapper {
      width: 934px;
    }
  }

  @media (min-width: 1234px) {
    padding: 0;
    padding-top: 30px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: $light-bg;
      transform: translateX(-50%);
      z-index: -1;
    }
    .offers-wrapper {
      justify-content: space-between;
      width: 1234px;
    }
  }
  @media (min-width: 1280px) {
    .offers-wrapper {
      .offer-wrapper {
        width: 380px;
        height: 488px;

        .offer-item {
          width: 100%;
          height: 100%;

          .offer-image-wrapper {
            width: 100%;
            height: 277px;
            position: relative;
            overflow: hidden;

            .offer-image {
              min-height: 277px;
            }
          }

          .offer-text-wrapper {
            padding: 21px 28px 0;
            height: 211px;

            .offer-title {
              font-size: 18px;
              line-height: 20px;
              margin-bottom: 16px;
              color: $dark-blue;
              font-family: $grotesk-reg;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: left;
              margin-bottom: 7px;
            }

            .offer-transaction {
              color: $light-blue;
              font-family: $grotesk-reg;
              font-weight: 400;
              font-size: 13px;
              font-style: normal;
              letter-spacing: normal;
              line-height: 30px;
              text-align: left;
              margin-bottom: 27px;
              align-self: flex-start;
            }

            .offer-price {
              height: 21px;
              color: $orange;
              font-family: $grotesk-reg;
              font-weight: 700;

              font-size: 18px;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: left;
              margin-bottom: 2px;
              align-self: flex-start;
            }

            .offer-parameters {
              width: 100%;
              height: 29px;
              display: flex;
              justify-content: space-between;

              .offer-area {
                height: 29px;
                font-size: 13px;
                line-height: 30px;
                color: $light-blue;
                font-family: $grotesk-reg;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
              }

              .offer-rooms {
                height: 29px;
                font-size: 13px;
                line-height: 30px;
                color: $light-blue;
                font-family: $grotesk-reg;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: right;

                span {
                  color: $dark-blue;
                  font-family: $grotesk-reg;
                  font-weight: 700;
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}
