@import "../variables";
@import "../mixins";

.specialist-data {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  background: $light-bg;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -33px;
    right: 10px;
    width: 42px;
    height: 58px;
    background: url("../assets/graphics/triangles.svg");
  }

  .specialist-data-wrapper {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;

    .phone-wrapper,
    .mail-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;

      img {
        margin: 0;
        width: 30px;
        height: 30px;
        margin-right: 15px;
      }
      a {
        margin: 0;
        text-decoration: none;
        color: $blue;
        font-family: $poppins;
        font-weight: 500;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .sort-wrapper {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;

    select {
      // margin-top: 26px;
      height: 100%;
      width: 247px;
      border: 1px solid #e1e2f4;
      padding: 20px 32px;
      color: $mid-blue;
      font-family: $grotesk-reg;
      font-size: 14px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      outline: none;
      background-color: $white;
      background-image: url("../assets/graphics/menu-item-expander.png");
      background-repeat: no-repeat;
      background-size: 10px 7px;
      background-position-y: center;
      background-position-x: calc(100% - 23px);
      cursor: pointer;
    }
  }

  @media (min-width: 617px) {
    padding: 0 20px;
    align-items: center;

    &:before {
      right: 20px;
    }
    .specialist-data-wrapper {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .phone-wrapper {
        margin-right: 40px;
      }

      .phone-wrapper,
      .mail-wrapper {
        a {
          margin: 0;
          text-decoration: none;
          color: $blue;
          font-family: $poppins;
          font-weight: 500;
          font-size: 20px;
          height: 30px;
          line-height: 30px;
        }
      }
    }

    .sort-wrapper {
      select {
        width: 380px;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sort-wrapper {
      select {
        margin-top: 40px;
        width: 247px;
      }
    }
  }

  @media (min-width: 1234px) {
    width: 1234px;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: $light-bg;
      transform: translateX(-50%);
      z-index: -1;
    }

    .sort-wrapper {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -77px;
        right: 0;
        width: 53px;
        height: 73px;
        background: url(../assets/graphics/triangles_big.svg);
      }
    }
  }
}
