@import "../variables";
@import "../mixins";

.hero {
  margin-top: 48px;
  width: 100%;
  max-width: 1440px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 136px;
    background: $dark-blue;
    z-index: -1;
  }

  @media (min-width: 768px) {
    margin-top: 42px;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 367px;
      background: $dark-blue;
      z-index: -1;
    }
  }

  @media (min-width: 1234px) {
    margin-top: 0;
    padding-top: 84px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-wrapper {
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    .hero-title-wrapper {
      justify-self: flex-start;
      align-self: flex-start;
      z-index: 3;
      .hero-title {
        font-family: $grotesk-reg;
        max-width: 190px;
        margin-left: 10px;
        margin-bottom: -50px;

        .blue-text {
          height: 27px;
          color: $dark-blue;
          font-size: 22px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
          display: inline-block;
          width: 100%;
        }

        .orange-text {
          color: $orange;
          font-size: 36px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
        }
      }

      @media (min-width: 768px) {
        .hero-title {
          max-width: 700px;
          margin-bottom: -77px;
          margin-left: 5%;

          .blue-text {
            height: 36px;
            font-size: 30px;
          }

          .orange-text {
            height: 50px;
            font-size: 40px;
          }
        }
      }

      @media (min-width: 768px) {
        .hero-title {
          max-width: 750px;
        }
      }

      @media (min-width: 1280px) {
        margin-left: calc((100vw - 1234px - 12px) / 2);
        .hero-title {
          margin-bottom: -90px;
          margin-left: 0;
          .blue-text {
            height: 54px;
            font-size: 45px;
          }

          .orange-text {
            height: 90px;
            font-size: 76px;
          }
        }
      }
      @media (min-width: 1440px) {
        margin-left: 95px;
      }
    }

    .hero-image-wrapper {
      height: 356px;
      position: relative;
      justify-self: flex-end;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 136px;
      width: 100%;
      background: url("../assets/img/home/hero_home_complete_mobile.png") top right -100px no-repeat;

      &:before {
        content: "";
        position: absolute;
        top: 5px;
        right: 10px;
        width: 42px;
        height: 58px;
        background: url("../assets/graphics/triangles.svg");
        z-index: 2;
      }

      .hero-label-wrapper {
        display: none;
      }

      .hero-text-wrapper {
        max-width: 300px;
        margin-left: 10px;
        margin-bottom: -136px;
        .hero-text {
          font-family: $grotesk-reg;
          font-weight: 400;
          color: $white;
          font-size: 15px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 22px;
          text-align: left;
          margin-bottom: 24px;
          z-index: 1;
        }

        .cta-lead-text {
          font-family: $grotesk-bold;
          font-weight: 700;
          color: $white;
          font-size: 15px;
          line-height: 25px;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          margin-bottom: 38px;
        }

        .button-hero {
          @include button;
        }

        @media (min-width: 768px) {
          max-width: 500px;
          margin-left: 76px;
          margin-bottom: 76px;
          margin-top: unset;
        }

        @media (min-width: 1024px) {
          max-width: 662px;
          margin-bottom: 80px;

          .hero-text {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
          }

          .cta-lead-text {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
          }
        }

        @media (min-width: 1243px) {
          margin-bottom: 280px;
          margin-left: unset;
          margin-right: 505px;
          align-self: flex-end;
        }
      }

      @media (min-width: 768px) {
        margin-bottom: unset;
        height: 645px;
        background: url("../assets/img/home/hero_home_complete_desktop.png") top right -150px no-repeat;

        &:before {
          top: 25px;
          right: 30px;
        }

        .hero-label-wrapper {
          display: block;
          position: absolute;
          right: 273px;
          top: 93px;
          height: 147px;
          width: 200px;
          transform: translate(100%, -100%);

          background: url("../assets/graphics/label_bg_01.svg") bottom 0px left 10px no-repeat,
            url("../assets/graphics/label_bg_02.svg") bottom left no-repeat;

          .invest-name,
          .invest-price {
            margin-left: 31px;
            color: $dark-blue;
            font-family: $poppins;
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
          }

          .invest-price {
            color: $orange;
          }
        }
      }

      @media (min-width: 1024px) {
        height: 645px;
        background: url("../assets/img/home/hero_home_complete_desktop.png") top right no-repeat;

        &:before {
          top: 20px;
          right: 96px;
          width: 53px;
          height: 73px;
          background: url("../assets/graphics/triangles_big.svg");
        }

        .hero-label-wrapper {
          right: 423px;
        }
      }

      @media (min-width: 1280px) {
        height: 745px;
        background: url("../assets/img/home/hero_home_complete_desktop.png") top right no-repeat;

        &:before {
          top: 20px;
          right: 104px;
          width: 53px;
          height: 73px;
          background: url("../assets/graphics/triangles_big.svg");
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 100px;
          right: 1243px;
          transform: translateX(50%);
          width: 53px;
          height: 73px;
          background: url("../assets/graphics/triangles_big.svg");
          z-index: 2;
        }
      }
    }

    @media (min-width: 1280px) {
      max-width: 100%;
    }
  }
}
