@import "../variables";
@import "../mixins";

.opinions {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-wrapper {
    max-width: 320px;
    .section-title {
      color: $orange;
      font-family: $grotesk-bold;
      font-weight: 700;
      font-size: 24px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 35px;
      text-align: center;
      margin-bottom: 12px;

      span {
        display: inline-block;
        width: 100%;
      }
    }

    .section-subtitle {
      color: $dark-blue;
      font-family: $grotesk-reg;
      font-weight: 400;
      font-size: 15px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 23px;
      text-align: center;
    }
  }

  .opinions-wrapper {
    width: 100%;
    .slick-list {
      .slick-track {
        .slick-slide {
          margin: 0 10px;
          div {
            .opinion-box {
              position: relative;
              width: 100%;
              max-width: 378px;
              height: 300px;
              background: $white;
              box-shadow: 0 2px 99px #edeefb;
              display: flex !important;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-top: 65px;
              margin-bottom: 65px;

              &:before {
                content: "";
                position: absolute;
                top: -33px;
                left: 29px;
                width: 63px;
                height: 63px;
                background: url("../assets/graphics/quote.svg");
                z-index: 2;
              }

              &--text {
                color: $blue;
                font-family: $poppins;
                font-weight: 400;
                font-size: 13px;
                font-style: italic;
                letter-spacing: normal;
                line-height: 25px;
                text-align: center;
                margin-bottom: 10px;
                max-width: 254px;
              }

              &--author {
                color: $light-blue;
                font-family: $poppins;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 30px;
                text-align: center;
              }
            }
          }

          @media (min-width: 398px) {
            margin: 0 calc((100vw - 378px) / 2);
          }
        }
      }
    }
  }
  .arrows-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 42px;
    margin-top: -43px;

    .slider-button-next,
    .slider-button-prev {
      margin: 0 8px;
      width: 63px;
      height: 63px;
      border: 1px solid #e1e1e1;
      border-radius: 50%;
      background-image: url("../assets/graphics/strzalka-l.svg");
      background-repeat: no-repeat;
      background-size: 17px 15px;
      background-position: center;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out, background-image 0.5s ease-in-out, border-color 0.5s ease-in-out;
      transform: rotate(360deg);

      &:hover {
        background-color: $orange;
        background-image: url("../assets/graphics/strzalka-l-white.svg");
        background-repeat: no-repeat;
        background-size: 17px 15px;
        background-position: center;
        border-color: $orange;
      }
    }

    .slider-button-next {
      transform: rotate(180deg);
    }
  }

  @media (min-width: 768px) {
    padding: 60px 20px 80px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 65% 35%;
    gap: 20px 55px;
    grid-template-areas:
      "title opinions"
      "arrows opinions";

    .title-wrapper {
      grid-area: title;
      max-width: 345px;
      margin-top: 45px;
      padding-left: 20px;

      .section-title {
        color: $blue;
        font-family: $poppins;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        margin-bottom: 36px;

        span {
          color: inherit;
          font-family: inherit;
        }
      }

      .section-subtitle {
        color: $blue;
        font-family: $poppins;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
      }
    }

    .opinions-wrapper {
      grid-area: opinions;
      padding-right: 20px;

      .opinion-box {
        margin-top: 0;
      }
    }
    .arrows-wrapper {
      grid-area: arrows;
      // justify-content: flex-start;
    }
  }

  @media (min-width: 1280px) {
    margin: 0 auto;
    max-width: 1244px;
    padding: 60px 0 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title opinions opinions"
      "arrows opinions opinions";

    .opinions-wrapper {
      padding-right: 0;
      flex-direction: row;
      justify-content: space-between;
      .opinion-box {
        &:nth-of-type(2) {
          display: flex;
        }

        &:before {
          content: "";
          position: absolute;
          top: -33px;
          left: -32px;
          width: 63px;
          height: 63px;
          background: url("../assets/graphics/quote.svg");
          z-index: 2;
        }
      }
    }

    .title-wrapper {
      padding-left: 0;
    }

    .arrows-wrapper {
      align-self: end;
    }
  }
}
