@import "../variables";
@import "../mixins";

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 19px;

  @media (min-width: 768px) {
    padding: 40px 20px 19px;
  }

  @media (min-width: 1234px) {
    padding: 20px 0 40px;
  }

  .title-wrapper {
    .section-title {
      color: $orange;
      font-family: $grotesk-reg;
      font-weight: 700;
      font-size: 24px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 35px;
      text-align: center;
      margin-bottom: 16px;
      span {
        color: $dark-blue;
        font-family: $grotesk-reg;
        font-weight: 700;
        font-size: 24px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 35px;
      }
    }

    .section-subtitle {
      color: $dark-blue;
      font-family: $grotesk-reg;
      font-weight: 400;
      font-size: 15px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 23px;
      text-align: center;
      padding: 0 10px;
      margin-bottom: 39px;
    }

    @media (min-width: 768px) {
      max-width: calc(100vw - 80px);
      position: relative;
      margin-bottom: 40px;

      &:before {
        content: "";
        position: absolute;
        top: -9px;
        left: -42px;
        width: 42px;
        height: 58px;
        background: url("../assets/graphics/triangles.svg");
        z-index: 2;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -9px;
        right: -42px;
        width: 42px;
        height: 58px;
        background: url("../assets/graphics/triangles.svg");
        transform: rotate(180deg);
        transform-origin: center;
        z-index: 2;
      }

      .section-title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        span {
          font-size: 30px;
          line-height: 40px;
        }
      }

      .section-subtitle {
        max-width: 600px;
        font-size: 16px;
        line-height: 26px;
      }
    }

    @media (min-width: 1280px) {
      width: 1114px;
      max-width: 1114px;
      margin-bottom: 55px;

      &:before {
        left: 0;
        top: -38px;
        width: 53px;
        height: 73px;
        background: url("../assets/graphics/triangles_big.svg");
      }

      &:after {
        right: 0;
        bottom: 0;
        width: 53px;
        height: 73px;
        background: url("../assets/graphics/triangles_big.svg");
      }

      .section-title {
        font-size: 34px;
        line-height: 47px;

        span {
          font-size: 34px;
          line-height: 47px;
        }
      }

      .section-subtitle {
        max-width: 690px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

  .images-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .image-box {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 313px;
      margin-bottom: 22px;
      overflow: hidden;

      &:hover .image {
        transform: scale(1.1);
      }

      .image {
        width: 100%;
        height: 100%;
        min-height: 313px;
        // background: url("../assets/img/home/zdjecie-oferta.png");
        background-size: cover;
        transition: transform 0.5s ease-in-out;
      }

      &:nth-of-type(2) .image {
        // background: url("../assets/img/home/finansowanie.png");
        background-size: cover;
        background-position-x: center;
      }

      &:nth-of-type(3) .image {
        // background: url("../assets/img/home/sprzedaz.png");
        background-size: cover;
        background-position-x: center;
      }

      .image-box--title {
        position: absolute;
        top: 35px;
        left: 33px;
        max-width: 220px;
        color: $white;
        font-family: $grotesk-reg;
        font-weight: 700;
        font-size: 24px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 35px;
        text-align: left;
      }

      a {
        display: block;
        text-decoration: none;
        // opacity: 0;
        position: absolute;
        bottom: 40px;
        left: 30px;

        .image-box--button {
          opacity: 0;
          // position: absolute;
          // bottom: 40px;
          // left: 30px;
          @include button;
          transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
        }
      }

      &:hover a .image-box--button {
        transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
        opacity: 1;
      }
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 24px 24px;
      grid-template-areas:
        "image_01 image_02"
        "image_01 image_03";

      .image-box {
        grid-area: image_01;
        margin-bottom: 0;
        min-height: 352px;

        &:nth-of-type(2) {
          grid-area: image_02;
          min-height: 164px;
        }

        &:nth-of-type(3) {
          grid-area: image_03;
          min-height: 164px;
        }

        .image-box--title {
          top: 25px;
          left: 25px;
          max-width: calc(100% - (2 * 25px));
          font-family: $grotesk-reg;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
        }

        .image-box--button {
          bottom: 25px;
          left: 25px;
          transform: scale(0.8);
          transform-origin: bottom left;
        }
      }
    }

    @media (min-width: 1280px) {
      max-width: 1244px;
      gap: 58px 58px;

      .image-box {
        min-height: 600px;
        box-shadow: 0 2px 100px #e1e2f4;

        .image-box--title {
          top: 60px;
          left: 60px;
          max-width: calc(100% - (2 * 60px));
          font-family: $grotesk-reg;
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
        }

        .image-box--button {
          bottom: 42px;
          left: 60px;
          transform: none;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          min-height: 271px;

          .image-box--title {
            top: 58px;
            left: 42px;
            max-width: calc(100% - (2 * 42px));
            font-size: 32px;
            line-height: 35px;
          }

          .image-box--button {
            bottom: 42px;
            left: 42px;
            transform: none;
          }
        }

        // &:before {
        //   content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 152px;
        //   height: 187px;
        //   background: url("../assets/graphics/shape_img_top_left_pink.svg");
        //   z-index: 2;
        // }

        // &:nth-of-type(2)::before {
        //   width: 113px;
        //   height: 138px;
        //   background: url("../assets/graphics/shape_img_top_left_01.svg");
        // }

        // &:nth-of-type(3)::before {
        //   top: unset;
        //   left: unset;
        //   right: 0;
        //   bottom: 0;
        //   width: 113px;
        //   height: 138px;
        //   background: url("../assets/graphics/shape_img_bottom_right_01.svg");
        // }
      }
    }
  }
}
