@import "../variables";
@import "../mixins";

.dev-100 {
  background: $dark-blue;
  padding: 66px 10px 84px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 219px;
    height: 362px;
    background: url("../../assets/graphics/dev_100_line_bottom_right.svg");
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -23px;
    right: 10px;
    width: 42px;
    height: 58px;
    background: url("../../assets/graphics/triangles.svg");
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-wrapper {
      position: relative;
      min-width: calc(100% - 29px);
      height: auto;
      min-height: 360px;
      margin-left: 29px;
      background: url("../../assets/images/home/girl.png");
      background-size: cover;
      background-position: center center;

      &:before {
        content: "";
        position: absolute;
        left: -29px;
        top: 0;
        height: calc(100% - 39px);
        width: auto;
        min-width: 213px;
        background: url("../../assets/graphics/img_overlay_house.svg");
        background-size: cover;
        z-index: 2;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 133px;
        width: 109px;
        background: url("../../assets/graphics/dev_100_img_bottom_right.svg");
        z-index: 2;
      }
    }

    .text-wrapper {
      margin-top: 48px;
      z-index: 2;
      max-width: 300px;
      align-self: flex-start;

      .article-title {
        color: $white;
        font-family: $grotesk-bold;
        font-size: 24px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 47px;
        text-align: left;
      }

      .article-text {
        color: $white;
        font-family: $grotesk-reg;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        margin-bottom: 20px;
      }

      .cta-lead-text {
        color: $white;
        font-family: $grotesk-bold;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        line-height: 20px;
        text-align: left;
        margin-bottom: 21px;
      }

      .button-dev-100 {
        @include button;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 80px 20px 80px;

    &:after {
      right: 20px;
    }

    &-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      .image-wrapper {
        margin-top: 13px;
        width: 40%;
        min-width: unset;
      }

      .text-wrapper {
        margin-top: 0;
        margin-left: 39px;
        width: 340px;
      }
    }
  }

  @media (min-width: 1280px) {
    height: 568px;
    padding: 0 57px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:before {
      width: 462px;
      height: 568px;
      background: url("../../assets/graphics/dev_100_line_bottom_right_big.svg");
    }

    &:after {
      bottom: -36px;
      right: 104px;
      width: 53px;
      height: 73px;
      background: url("../../assets/graphics/triangles_big.svg");
    }

    &-wrapper {
      max-width: 1280px;
      display: grid;
      grid-template-columns: 533px auto;
      grid-template-rows: minmax(568px, auto);
      gap: 0px 50px;
      grid-template-areas: "image text";

      .image-wrapper {
        margin-top: 0;
        grid-area: image;
        min-width: calc(100% - 51px);
        margin-left: 51px;
        height: 637px;

        &:before {
          left: -51px;
          height: 565px;
          width: 378px;
          background: url("../../assets/graphics/img_overlay_house_big.svg");
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 236px;
          width: 192px;
          background: url("../../assets/graphics/dev_100_img_bottom_right_big.svg");
        }
      }

      .text-wrapper {
        grid-area: text;
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
        max-width: 688px;

        .article-title {
          font-size: 34px;
          line-height: 46px;
          margin-bottom: 23px;
        }

        .article-text {
          font-size: 16px;
          line-height: 29px;
          margin-bottom: 22px;
        }

        .cta-lead-text {
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 35px;
        }

        .button-dev-100 {
          margin-bottom: 72px;
        }
      }
    }
  }
}
