@import "../variables";
@import "../mixins";

.offers {
  padding: 66px 10px 62px;
  position: relative;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-wrapper {
      z-index: 2;
      max-width: 300px;
      align-self: flex-start;

      .article-title {
        color: $dark-blue;
        font-family: $grotesk-bold;
        font-size: 24px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        text-align: left;
        margin-bottom: 21px;
      }

      .article-text {
        color: $dark-blue;
        font-family: $grotesk-reg;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        margin-bottom: 33px;
      }
      .button-offers {
        @include button;
        display: none;
      }
    }

    .offer-wrapper {
      width: 283px;
      height: 350px;
      background: url("../assets/img/o-nas/offer_mobile_bg_shape.png") no-repeat;
      background-position: top left;
      padding-top: 37px;
      padding-left: 39px;

      .offer-item {
        width: 244px;
        height: 313px;
        box-shadow: 0 2px 64px #e1e2f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .offer-image {
          width: 244px;
          height: 178px;
        }

        .offer-text-wrapper {
          background: $white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding: 13px 17px;
          height: 136px;

          .offer-title {
            width: 100%;
            color: $dark-blue;
            font-family: $grotesk-bold;
            font-size: 13px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            margin-bottom: 11px;
          }

          .rooms-wrapper,
          .prices-wrapper,
          .area-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            height: 39px;
            width: 100%;

            .rooms-description,
            .prices-description,
            .area-description {
              color: $light-blue;
              font-family: $grotesk-reg;
              font-size: 8px;
              font-style: normal;
              letter-spacing: normal;
              line-height: 19px;
              text-align: left;
            }

            .rooms-value,
            .prices-value,
            .area-value {
              color: $dark-blue;
              font-family: $grotesk-bold;
              font-size: 8px;
              font-style: normal;
              letter-spacing: normal;
              line-height: 19px;
              text-align: right;
            }
          }
          .rooms-wrapper,
          .prices-wrapper {
            border-bottom: 1px dashed #e1e2f4;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 0 40px;

    &:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 62px;
      width: 42px;
      height: 58px;
      background: url("../assets/graphics/triangles.svg");
    }

    &-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .text-wrapper {
        margin-top: 0;
        margin-left: 0;
        max-width: 380px;
        align-self: unset;

        .article-title {
          margin-bottom: 15px;
        }

        .article-text {
          margin-bottom: 31px;
        }

        .button-offers {
          display: flex;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    height: 574px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:after {
      display: none;
    }

    &-wrapper {
      width: 1180px;
      margin-right: 56px;
      height: 100%;

      &:after {
        display: none;
        content: "";
        position: absolute;
        bottom: 0;
        left: 62px;
        width: 58px;
        height: 73px;
        background: url("../assets/graphics/triangles_big.svg");
      }

      .text-wrapper {
        margin-top: 0;
        margin-left: 0;
        max-width: 638px;

        .article-title {
          font-size: 34px;
          line-height: 47px;
          margin-bottom: 15px;
        }

        .article-text {
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 31px;
        }

        .button-offers {
          display: flex;
        }
      }

      .offer-wrapper {
        width: 440px;
        height: 546px;
        background: url("../assets/img/o-nas/offer_desktop_bg_shape.png") no-repeat;
        background-position: top left;
        padding-top: 58px;
        padding-left: 60px;

        .offer-item {
          width: 380px;
          height: 488px;

          .offer-image {
            width: 380px;
            height: 277px;
          }

          .offer-text-wrapper {
            padding: 21px 28px;
            height: 211px;

            .offer-title {
              font-size: 20px;
              margin-bottom: 17px;
            }

            .rooms-wrapper,
            .prices-wrapper,
            .area-wrapper {
              height: 47px;

              .rooms-description,
              .prices-description,
              .area-description {
                font-size: 13px;
                line-height: 30px;
              }

              .rooms-value,
              .prices-value,
              .area-value {
                font-size: 13px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
