@import "../variables";
@import "../mixins";

.sell {
  background: $light-bg;
  padding: 0 10px 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -33px;
    right: 10px;
    width: 42px;
    height: 58px;
    background: url("../../assets/graphics/triangles.svg");
  }

  &-wrapper {
    display: flex;
    // flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    background-color: $light-bg;

    .text-wrapper {
      margin-top: 48px;
      z-index: 2;
      max-width: 300px;
      align-self: flex-start;

      .page-adress {
        color: $light-blue;
        font-family: $poppins;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-top: 45px;
      }

      .article-title {
        color: $dark-blue;
        font-family: $grotesk-bold;
        font-size: 24px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 40px;
        text-align: left;
        margin-top: 36px;
        margin-bottom: 26px;
      }

      .article-text {
        color: $dark-blue;
        font-family: $grotesk-reg;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        margin-bottom: 20px;
      }

      .cta-lead-text {
        color: $dark-blue;
        font-family: $grotesk-bold;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 50px;
      }

      .cta-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        .cta-img {
          border-radius: 50%;
          box-shadow: 0 2px 30px #e1e2f4;
          margin-right: 24px;
        }

        .cta-text-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .cta-text {
            color: $mid-blue;
            font-family: $grotesk-bold;
            font-size: 16px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            margin-bottom: 5px;
          }
          .cta-link {
            color: $orange;
            font-family: $grotesk-bold;
            font-size: 16px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-decoration: none;
          }
        }
      }
    }

    .image-wrapper {
      margin-top: 49px;
      position: relative;
      min-width: calc(100% - 29px);
      height: auto;
      min-height: 360px;
      margin-left: 29px;
      background: url("../../assets/images/uslugi/sell_img_mobile.png");
      background-size: cover;
      background-position: top left;
      box-shadow: 0 2px 100px #e1e2f4;

      &:before {
        content: "";
        position: absolute;
        left: -29px;
        top: 0;
        height: calc(100% - 39px);
        width: auto;
        min-width: 213px;
        background: url("../../assets/graphics/img_overlay_house.svg");
        background-size: cover;
        z-index: 2;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 133px;
        width: 109px;
        background: url("../../assets/graphics/dev_100_img_bottom_right.svg");
        z-index: 2;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 80px 20px 80px;

    &:before {
      right: 20px;
    }

    &-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      .text-wrapper {
        margin-top: 0;
        width: 340px;
      }

      .image-wrapper {
        margin-top: 111px;
        margin-left: 49px;
        width: 40%;
        min-width: unset;
      }
    }
  }

  @media (min-width: 1280px) {
    height: 714px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      display: none;
    }

    &-wrapper {
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 1234px;

      .text-wrapper {
        margin-top: 0px;
        margin-left: 0;
        width: 100%;
        max-width: 593px;

        .page-adress {
          margin-top: 51px;
        }

        .article-title {
          font-size: 34px;
          line-height: 47px;
          margin-top: 84px;
          margin-bottom: 31px;
        }

        .article-text {
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 61px;
        }

        .cta-lead-text {
          font-size: 16px;
          line-height: 30px;
        }
      }

      .image-wrapper {
        margin-top: 0;
        width: 566px;
        height: 596px;
        background: url("../../assets/images/uslugi/sell_img_desktop.png");
        background-size: cover;
        background-position: top left;
        margin-left: 47px;
        height: 637px;

        &:before {
          left: -23px;
          top: -38px;
          height: 596px;
          width: 378px;
          background: url("../../assets/graphics/img_overlay_house_big.svg");
        }

        &:after {
          content: "";
          position: absolute;
          top: -36px;
          right: 0;
          width: 53px;
          height: 73px;
          transform: translateX(50%);
          background: url("../../assets/graphics/triangles_big.svg");
        }
      }
    }
  }
}
