@import "../variables";
@import "../mixins";

.offers {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;

  .offers-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    .offer-wrapper {
      width: 100%;
      max-width: 380px;
      height: 357px;
      margin-bottom: 47px;
      position: relative;

      .offer-item {
        text-decoration: none;
        color: unset;
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 76px #e1e2f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        cursor: pointer;

        .offer-image-wrapper {
          width: 100%;
          height: 186px;
          position: relative;
          overflow: hidden;

          .offer-image {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: auto;
            min-height: 186px;
            transform: translateX(-50%);
          }
        }

        .offer-text-wrapper {
          justify-self: flex-end;
          background: $white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding: 14px 22px 0;
          height: 171px;

          .offer-title {
            width: 100%;
            color: $dark-blue;
            font-family: $grotesk-reg;
            font-weight: 700;
            font-size: 16px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            margin-bottom: 17px;
          }

          .rooms-wrapper,
          .prices-wrapper,
          .area-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            height: 39px;
            width: 100%;

            .rooms-description,
            .prices-description,
            .area-description {
              color: $light-blue;
              font-family: $grotesk-reg;
              font-size: 10px;
              font-style: normal;
              letter-spacing: normal;
              line-height: 23px;
              text-align: left;
              padding-left: 31px;
              position: relative;

              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 3px;
                width: 20px;
                height: 20px;
                // background: url("../assets/graphics/offer_icon.svg");
                // background-size: 90%;
                // background-repeat: no-repeat;
              }
            }

            .rooms-description:before {
              background: url("../assets/graphics/l.pokoi_box.svg") no-repeat;
            }
            .prices-description:before {
              background: url("../assets/graphics/kasa_box.svg") no-repeat;
            }
            .area-description:before {
              background: url("../assets/graphics/powierzchnia_box.svg") no-repeat;
            }

            .rooms-value,
            .prices-value,
            .area-value {
              color: $dark-blue;
              font-family: $grotesk-reg;
              font-weight: 700;
              font-size: 12px;
              font-style: normal;
              letter-spacing: normal;
              line-height: 23px;
              text-align: right;
            }
          }
          .rooms-wrapper,
          .prices-wrapper {
            border-bottom: 1px dashed #e1e2f4;
          }
        }
      }
    }
  }

  .pagination-wrapper {
    width: 100%;
    // padding: 28px 0 52px;
    display: flex;
    justify-content: center;
    align-items: center;

    .offers-amount {
      display: none;

      @media (min-width: 934px) {
        display: block;
        margin-right: auto;
        color: $dark-blue;
        font-family: $poppins;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        padding-bottom: 20px;
      }
    }

    .page-numbers {
      height: 41px;
      width: 41px;
      margin: 0;
      margin-top: 28px;
      margin-bottom: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $orange;
      font-family: $poppins;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 20px;
      border: 1px solid #e1e2f4;
      margin-left: 9px;

      &.prev {
        margin-left: 0;
        background: url("../assets/graphics/strzalka-l.svg") no-repeat;
        background-size: 19px 17px;
        background-position: center;
      }

      &.next {
        background: url("../assets/graphics/strzalka-r.svg") no-repeat;
        background-size: 19px 17px;
        background-position: center;
      }

      &.current {
        border-radius: 20px;
        border: 1px solid $orange;
      }

      &.dots {
        border-radius: 20px;
        border: 1px solid #e1e2f4;
      }

      @media (min-width: 934px) {
        height: 63px;
        width: 63px;
        border-radius: 32px;
        font-size: 25px;
        margin-left: 16px;

        &.prev {
          margin-left: 0;
          background: url("../assets/graphics/strzalka-l.svg") no-repeat;
          background-size: 19px 17px;
          background-position: center;
        }

        &.next {
          background: url("../assets/graphics/strzalka-r.svg") no-repeat;
          background-size: 19px 17px;
          background-position: center;
        }

        &.current {
          border-radius: 32px;
          border: 1px solid $orange;
        }

        &.dots {
          border-radius: 32px;
          border: 1px solid #e1e2f4;
        }

        &.last {
          border-radius: 32px;
          border: 1px solid #e1e2f4;
        }
      }
    }

    @media (min-width: 934px) {
      justify-content: flex-end;
      .page-numbers {
        margin: 20px;
        margin-top: 28px;
        margin-bottom: 52px;
        margin-left: 16px;
      }
    }

    @media (min-width: 1280px) {
      width: 1234px;
      .page-numbers {
        margin: 0;
        margin-top: 28px;
        margin-bottom: 52px;
        margin-left: 16px;
      }
    }
  }

  @media (min-width: 617px) {
    padding: 0 20px;
    .offers-wrapper {
      justify-content: space-around;
      width: 617px;
    }
  }

  @media (min-width: 934px) {
    padding: 0 20px;
    .offers-wrapper {
      width: 934px;
    }
  }

  @media (min-width: 1234px) {
    padding: 0;
    .offers-wrapper {
      justify-content: space-between;
    }
  }

  @media (min-width: 1280px) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: $light-bg;
      transform: translateX(-50%);
      z-index: -1;
    }

    .offers-wrapper {
      width: 1234px;

      .offer-wrapper {
        width: 380px;
        height: 488px;

        .offer-item {
          text-decoration: none;
          color: unset;
          width: 100%;
          height: 100%;

          .offer-image-wrapper {
            width: 100%;
            height: 277px;
            position: relative;
            overflow: hidden;

            .offer-image {
              min-height: 277px;
            }
          }

          .offer-text-wrapper {
            padding: 21px 28px 0;
            height: 211px;

            .offer-title {
              font-size: 20px;
              margin-bottom: 16px;
            }

            .rooms-wrapper,
            .prices-wrapper,
            .area-wrapper {
              height: 48px;

              .rooms-description,
              .prices-description,
              .area-description {
                font-size: 13px;
                line-height: 30px;
                padding-left: 31px;
                position: relative;

                &:before {
                  top: 5px;
                  width: 20px;
                  height: 20px;
                  // background: url("../assets/graphics/single_offer_row_icon_desktop.svg");
                }
              }

              .rooms-value,
              .prices-value,
              .area-value {
                font-size: 13px;
                line-height: 30px;
              }
            }
            .rooms-wrapper,
            .prices-wrapper {
              border-bottom: 1px dashed #e1e2f4;
            }
          }
        }
      }
    }
  }
}
