@import "../variables";
@import "../mixins";

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -33px;
    right: 10px;
    width: 42px;
    height: 58px;
    background: url("../assets/graphics/triangles.svg");
  }

  .search-wrapper {
    width: 100%;
    padding: 0 10px;

    @media (min-width: 768px) {
      padding: 0 20px;
    }

    @media (min-width: 1234px) {
      padding: 0;
    }

    .page-adress {
      width: 100%;
      max-width: 1234px;
      color: $light-blue;
      font-family: $poppins;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-top: 45px;
      margin-bottom: 36px;
    }

    .search-form {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 984px;
      margin-top: 90px; // do zmiany jeśli dojdzie page adress
      margin-bottom: 40px;

      @media (min-width: 1034px) {
        max-width: 100%;
        margin-top: 75px;
      }
      .input-wrapper {
        height: 100%;
        width: 100%;

        select.input-property {
          height: 100%;
          width: 100%;
          min-width: 300px;
          max-width: 380px;
          border: 1px solid #e1e2f4;
          padding: 21px 32px;
          color: $mid-blue;
          font-family: $grotesk-reg;
          font-size: 14px;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
          outline: none;
          background-color: $white;
          background-image: url("../assets/graphics/menu-item-expander.png");
          background-repeat: no-repeat;
          background-size: 10px 7px;
          background-position-y: center;
          background-position-x: calc(100% - 23px);
          cursor: pointer;

          @media (min-width: 400px) {
            max-width: 100%;
          }

          @media (min-width: 768px) {
            display: none;
          }
        }

        .cities-wrapper {
          display: none;
          @media (min-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .city-button {
              background: transparent;
              border: 2px solid transparent;
              padding: 20px;
              color: #252942;
              font-family: $grotesk-reg;
              font-size: 16px;
              font-weight: 700;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: center;
              cursor: pointer;

              &:not(:last-of-type) {
                margin-right: 20px;
              }

              &:focus {
                outline: 1px solid $orange;
              }

              &.selected {
                border: 2px solid $orange;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    &:before {
      right: 20px;
    }
  }

  @media (min-width: 1234px) {
    &:before {
      display: none;
    }

    .search-wrapper {
      width: 1234px;
      max-width: 1234px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -40px;
        right: 26px;
        width: 53px;
        height: 73px;
        transform: translateX(50%);
        background: url("../assets/graphics/triangles_big.svg");
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: $light-bg;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
  }

  // @media (min-width: 1280px) {
  //   // padding-top: 51px;
  // }
}
