@import "../variables";
@import "../mixins";

.city {
  padding: 100px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;

  @media (min-width: 768px) {
    padding: 0;
    margin-top: 60px;
    align-items: flex-start;
  }

  @media (min-width: 1280px) {
    margin-top: 32px;
    align-items: center;
  }

  .city-wrapper-desktop {
    @media (max-width: 767px) {
      display: none;
    }
    margin: 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media (min-width: 1280px) {
      width: 1234px;
      margin: 0;
      padding: 73px 0 43px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: -30px;
        width: 53px;
        height: 73px;
        background: url("../assets/graphics/triangles_big.svg");
      }
    }

    .city-name {
      height: 60px;
      line-height: 60px;
      width: auto;
      padding: 20px;
      width: auto;
      min-width: 170px;
      background: transparent;
      color: $dark-blue;
      font-family: $grotesk-bold;
      font-size: 16px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      border: 1px solid transparent;
      margin-right: 12px;
      margin-bottom: 12px;

      &:hover {
        border: 1px solid $orange;
      }

      &:focus {
        outline: none;
      }

      &.active {
        border: 1px solid $orange;
      }
    }
  }
  .city-wrapper-mobile {
    @media (min-width: 768px) {
      display: none;
    }

    width: 300px;
    margin-bottom: 12px;

    .city-selector {
      box-sizing: border-box;
      width: 300px;
      max-width: 300px;
      height: 60px;
      background: $white;
      border: 1px solid #e1e2f4;
      position: relative;
      list-style: none;
      padding: 22px 28px;
      margin-bottom: 12px;

      color: $dark-blue;
      font-family: $grotesk-reg;
      font-size: 14px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;

      &::-webkit-details-marker {
        display: none;
      }

      &:before {
        content: "";
        position: absolute;
        right: 28px;
        top: 28px;
        width: 10px;
        height: 6px;
        background: url("../assets/graphics/menu-item-expander.png");
      }
    }

    .city-name {
      box-sizing: border-box;
      height: 60px;
      line-height: 60px;
      width: 300px;
      padding: 19px 33px 22px;
      background: $orange;
      color: $white;
      font-family: $grotesk-bold;
      font-size: 16px;
      // font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      border: none;
      margin-bottom: 12px;
    }
  }
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;

  .search-wrapper {
    width: 100%;
    padding: 0 10px;

    @media (min-width: 768px) {
      padding: 0 20px;
    }

    @media (min-width: 1234px) {
      padding: 0;
    }

    .page-adress {
      width: 100%;
      max-width: 1234px;
      color: $light-blue;
      font-family: $poppins;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-top: 45px;
      margin-bottom: 36px;
    }

    .search-form {
      width: 100%;
      max-width: 984px;
      display: grid;
      margin-top: 28px;
      margin-bottom: 40px;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      gap: 0px 47px;
      grid-template-areas: "row_01";

      @media (min-width: 1034px) {
        max-width: 100%;
      }

      .row-wrapper-01 {
        grid-area: row_01;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 60px;
        grid-template-areas: "property";

        @media (min-width: 400px) {
          grid-template-columns: minmax(300px, 380px);
        }

        @media (max-width: 979px) {
          width: auto;
          justify-content: center;
        }

        .property {
          grid-area: property;
        }

        .input-wrapper {
          height: 100%;
          width: 100%;

          select {
            height: 100%;
            width: 100%;
            border: 1px solid #e1e2f4;
            padding: 21px 32px;
            color: $mid-blue;
            font-family: $grotesk-reg;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            outline: none;
            background-color: $white;
            background-image: url("../assets/graphics/menu-item-expander.png");
            background-repeat: no-repeat;
            background-size: 10px 7px;
            background-position-y: center;
            background-position-x: calc(100% - 23px);
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (min-width: 1234px) {
    .search-wrapper {
      width: 1234px;
      max-width: 1234px;

      .page-adress {
        margin-top: 0px;
        margin-bottom: 33px;
      }
    }
  }

  @media (min-width: 1280px) {
    // height: 505px;
    // background-color: #fbfbff;
    padding-top: 51px;
  }
}
