@import "../variables";
@import "../mixins";

.single-blog-hero {
  width: 100%;
  max-width: 1234px;
  margin: 0 auto;
  background-color: $light-bg;
  padding-top: 80px;
  margin-top: -80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    position: absolute;
    content: "";
    right: 10px;
    top: -30px;
    width: 42px;
    height: 58px;
    background: url("../assets/graphics/triangles.svg");
    background-size: cover;
  }

  .single-blog-hero-img-wrapper {
    width: 100vw;
    height: 100vw;
    min-height: 360px;
    max-height: 552px;
    max-width: 1232px;
    position: relative;
    margin: 20px 0 40px;
    overflow: hidden;

    .single-blog-hero-img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: 1234px) {
    padding-top: 51px;
    max-width: 1234px;
    margin-top: 0;

    &:before {
      right: 0;
    }

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 30%;
      bottom: 0;
      left: 0;
      background: $white;
    }

    .single-blog-hero-img-wrapper {
      z-index: 2;
    }
  }
}
