@import "../variables";
@import "../mixins";

.team {
  padding: 60px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -33px;
    right: 10px;
    width: 42px;
    height: 58px;
    background: url("../assets/graphics/triangles.svg");
  }

  .page-adress {
    width: 100%;
    max-width: 1234px;
    color: $light-blue;
    font-family: $poppins;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 33px;
  }

  .team-members-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .member {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 36px;
      padding: 0;
      .member-image {
        height: 324px;
        width: 281px;
        margin-bottom: -133px;
      }
      .member-contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 300px;
        padding-bottom: 31px;
        background: $white;
        box-shadow: 0 2px 100px #e1e2f4;
        .member-name {
          margin-top: 33px;
          color: $blue;
          font-family: $poppins;
          font-weight: 400;
          font-size: 20px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: center;
        }
        .member-function {
          margin-top: 0;
          color: $light-blue;
          font-family: $poppins;
          font-weight: 400;
          font-size: 14px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: center;
        }
        .member-phone {
          margin-top: 24px;
          color: $mid-blue;
          font-family: $poppins;
          font-weight: 400;
          font-size: 20px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: center;
          text-decoration: none;
        }
        .member-email {
          margin-top: 2px;
          color: $light-blue;
          font-family: $poppins;
          font-weight: 400;
          font-size: 14px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 30px;
          text-align: center;
          text-decoration: none;
        }
        .member-offers {
          margin-top: 38px;
          color: $orange;
          font-family: $grotesk-reg;
          font-weight: 700;
          font-size: 14px;
          font-style: normal;
          letter-spacing: normal;
          text-align: center;
        }

        .member-text {
          color: $dark-blue;
          font-family: $grotesk-reg;
          font-size: 13px;
          font-style: normal;
          letter-spacing: normal;
          line-height: 20px;
          text-align: center;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 60px 20px 60px;

    &:before {
      right: 20px;
    }

    .team-members-wrapper {
      .member {
        &:nth-of-type(3) {
          display: none;
        }
        &:first-of-type {
          margin-right: 46px;
        }
        .member-image {
          height: 324px;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    padding: 70px 0 0;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: $light-bg;
      transform: translateX(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 505px;
      left: 0;
      width: 100%;
      height: calc(100% - 505px);
      background: $white;
      z-index: -1;
    }

    .team-members-wrapper {
      max-width: 1234px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -160px;
        right: 26px;
        width: 53px;
        height: 73px;
        transform: translateX(50%);
        background: url("../assets/graphics/triangles_big.svg");
      }

      .member {
        width: 380px;
        max-width: 380px;
        height: 486px;

        &:nth-of-type(2) {
          margin-right: 46px;
        }
        &:nth-of-type(3) {
          display: flex;
          margin-right: 0;
        }

        .member-image {
          height: 362px;
          width: 347px;
          margin-bottom: -125px;
        }
        .member-contact-wrapper {
          width: 380px;
          padding-bottom: 25px;
          .member-name {
            margin-top: 24px;
          }
          .member-function {
            margin-top: 0;
          }
          .member-phone {
            margin-top: 24px;
          }
          .member-email {
            margin-top: 2px;
          }
          .member-offers {
            margin-top: 38px;
          }
        }
      }
    }
  }
}
