@import "../variables";
@import "../mixins";

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-bg;

  .search-wrapper {
    width: 100%;
    padding: 0 10px;

    @media (min-width: 768px) {
      padding: 0 20px;
    }

    @media (min-width: 1234px) {
      padding: 0;
    }

    .page-adress {
      width: 100%;
      max-width: 1234px;
      color: $light-blue;
      font-family: $poppins;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      margin-top: 45px;
      margin-bottom: 36px;
    }

    .search-form {
      width: 100%;
      display: grid;
      margin-top: 28px;
      margin-bottom: 40px;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, auto);
      gap: 0px 47px;
      grid-template-areas:
        "row_01"
        "row_02"
        "row_03";

      .row-wrapper-01 {
        grid-area: row_01;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 380px));
        grid-template-rows: 60px;
        gap: 0px 47px;
        grid-template-areas: "property market transaction";

        .property {
          grid-area: property;
        }

        .market {
          grid-area: market;
        }

        .transaction {
          grid-area: transaction;
        }

        @media (max-width: 979px) {
          width: auto;
          justify-content: center;
          grid-template-columns: minmax(300px, 380px);
          grid-template-rows: 60px 60px 60px;
          gap: 13px;
          grid-template-areas: "property" "market" "transaction";
        }
      }

      .row-wrapper-02 {
        grid-area: row_02;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 380px));
        grid-template-rows: 56px 60px;
        grid-gap: 0 47px;
        grid-template-areas:
          "price_label area_label year_label"
          "price area year";

        .price_label {
          grid-area: price_label;
        }
        .area_label {
          grid-area: area_label;
        }
        .year_label {
          grid-area: year_label;
        }

        .price-wrapper {
          grid-area: price;
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 180px));
          grid-template-rows: 60px;
          grid-gap: 0 20px;
          grid-template-areas: "price_from price_to";
          .price_from {
            grid-area: price_from;
            @include input-number-arrows;
          }
          .price_to {
            grid-area: price_to;
            @include input-number-arrows;
          }
        }

        .area-wrapper {
          grid-area: area;
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 180px));
          grid-template-rows: 60px;
          grid-gap: 0 20px;
          grid-template-areas: "area_from area_to";
          .area_from {
            grid-area: area_from;
            @include input-number-arrows;
          }
          .area_to {
            grid-area: area_to;
            @include input-number-arrows;
          }
        }

        .year-wrapper {
          grid-area: year;
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 180px));
          grid-template-rows: 60px;
          grid-gap: 0 20px;
          grid-template-areas: "year_from year_to";
          .year_from {
            grid-area: year_from;
            @include input-number-arrows;
          }
          .year_to {
            grid-area: year_to;
            @include input-number-arrows;
          }
        }

        @media (max-width: 979px) {
          width: auto;
          justify-content: center;
          grid-template-columns: minmax(300px, 380px);
          grid-template-rows: 56px 60px 56px 60px;
          gap: 0;
          grid-template-areas: "price_label" "price" "area_label" "area";

          .year_label,
          .year-wrapper {
            display: none;
          }
        }
      }

      .row-wrapper-03 {
        grid-area: row_03;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 380px));
        grid-template-rows: 56px 60px;
        grid-gap: 0 47px;
        grid-template-areas:
          "floor_label rooms_label ."
          "floor rooms submit";

        .floor_label {
          grid-area: floor_label;
        }
        .rooms_label {
          grid-area: rooms_label;
        }
        .floor-wrapper {
          grid-area: floor;
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 180px));
          grid-template-rows: 60px;
          grid-gap: 0 20px;
          grid-template-areas: "floor_from floor_to";
          .floor_from {
            grid-area: floor_from;
            @include input-number-arrows;
          }
          .floor_to {
            grid-area: floor_to;
            @include input-number-arrows;
          }
        }
        .rooms-wrapper {
          grid-area: rooms;
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 180px));
          grid-template-rows: 60px;
          grid-gap: 0 20px;
          grid-template-areas: "rooms_from rooms_to";
          .rooms_from {
            grid-area: rooms_from;
            @include input-number-arrows;
          }
          .rooms_to {
            grid-area: rooms_to;
            @include input-number-arrows;
          }
        }
        .submit {
          grid-area: submit;
          @include input-number-arrows;
        }

        @media (max-width: 979px) {
          width: auto;
          justify-content: center;
          grid-template-columns: minmax(300px, 380px);
          grid-template-rows: 56px 60px 56px 60px 60px;
          gap: 0;
          grid-template-areas: "floor_label" "floor" "rooms_label" "rooms" "submit";

          .submit {
            margin-top: 13px;
          }
        }
      }

      .row-wrapper-01,
      .row-wrapper-02,
      .row-wrapper-03 {
        .input-wrapper {
          height: 100%;
          width: 100%;

          input {
            height: 100%;
            width: 100%;
            background-color: $white;
            border: 1px solid #e1e2f4;
            padding: 22px 32px;
            color: $mid-blue;
            font-family: $grotesk-reg;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            position: relative;

            &::placeholder {
              color: $mid-blue;
              font-family: $grotesk-reg;
              font-size: 14px;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: left;
            }

            &[type="submit"] {
              border: 1px solid $orange;
              background: $orange;
              color: $white;
              font-family: $grotesk-bold;
              font-size: 16px;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: center;
              padding-top: 19px;
              cursor: pointer;
              outline: $orange;
            }

            &[type="number"] {
              width: 100%;
              outline: none;
            }
          }

          select {
            height: 100%;
            width: 100%;
            border: 1px solid #e1e2f4;
            padding: 21px 32px;
            color: $mid-blue;
            font-family: $grotesk-reg;
            font-size: 14px;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            outline: none;
            background-color: $white;
            background-image: url("../../assets/graphics/menu-item-expander.png");
            background-repeat: no-repeat;
            background-size: 10px 7px;
            background-position-y: center;
            background-position-x: calc(100% - 23px);
            cursor: pointer;
          }
        }

        p {
          width: 100%;
          height: 56px;
          padding-top: 20px;
          color: $mid-blue;
          font-family: $grotesk-reg;
          font-size: 16px;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: left;
        }
      }
    }

    .sort-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .sort-text {
        color: $light-blue;
        font-family: $poppins;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-right: 46px;
      }

      .sort-button {
        color: $dark-blue;
        font-family: $poppins;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-right: 39px;
        border: none;
        background: transparent;
        outline: none;
        cursor: pointer;
      }

      @media (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 34px;
        .sort-text {
          width: 100%;
          margin-right: 0;
          margin-bottom: 6px;
        }
      }
    }
  }

  @media (min-width: 1234px) {
    .search-wrapper {
      width: 1234px;

      .page-adress {
        margin-top: 0px;
        margin-bottom: 33px;
      }
    }
  }

  @media (min-width: 1280px) {
    height: 505px;
    background-color: #fbfbff;
    padding-top: 51px;
  }
}
