@import "../variables";
@import "../mixins";

.slider {
  display: flex;
  justify-content: center;

  .slider-wrapper {
    width: 100%;
    height: auto;
    min-height: calc(100vw * 0.4829);
    margin-bottom: 59px;
    position: relative;

    .prev-slide,
    .next-slide {
      position: absolute;
      top: 50%;
      width: 63px;
      height: 63px;
      transform: translateY(-50%);
    }

    .prev-slide {
      left: 34px;
      background: url("../../assets/graphics/strzalka-l-2.svg");
      background-size: cover;
    }

    .next-slide {
      right: 34px;
      background: url("../../assets/graphics/strzalka-r-2.svg");
      background-size: cover;
    }

    .slide {
      width: 100%;
      height: 100%;
      background: url("../../assets/images/single-pierwotny/single_pierwotny_slide_01.png");
      background-size: cover;
    }
  }

  @media (min-width: 1280px) {
    .slider-wrapper {
      width: 100%;
      max-width: 1234px;
      height: auto;
      min-height: 596px;

      .slide {
        width: 100%;
        height: 100%;
        background: url("../../assets/images/single-pierwotny/single_pierwotny_slide_01.png");
        background-size: cover;
      }
    }
  }
}
