@import "variables";
@import "mixins";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 65px;
  background: $white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 5;
  // overflow-x: hidden;
  overflow-y: visible;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  @media (min-width: 1280px) {
    height: 124px;
    padding: 32px 40px;
    overflow-y: visible;
  }

  .logo {
    height: 100%;
    padding-top: 23px;
    display: flex;
    align-items: flex-start;
    .header-link {
      height: 23px;
      line-height: 23px;
      margin: 0;
      padding: 0;
      img {
        height: 23px;
        width: auto;
      }
    }

    @media (min-width: 1280px) {
      justify-content: center;
      padding-top: unset;

      .header-link {
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
        img {
          height: 29px;
        }
      }
    }
  }

  .nav {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $white;
    z-index: 10;
    padding-bottom: 114px;
    transform: translateX(100%);
    transition: transform 1s ease-out, visibility 0s ease-out 1s;

    &-list {
      padding: 0;
      width: 100%;
      margin-top: 34px;

      &--item {
        list-style: none;
        width: 100%;
        text-align: center;
        margin-bottom: 38px;

        &-link {
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          font-family: $grotesk-reg;
          color: $dark-blue;
        }

        &.expandable {
          .nav-list--secondary {
            margin: 0 auto;
            padding: 0;
            width: calc(100% - 20px);
            max-width: 300px;
            box-shadow: 0 2px 100px #e1e2f4;

            .nav-list--item.secondary {
              position: relative;
              width: 100%;
              text-align: left;
              height: 59px;
              line-height: 59px;
              margin-bottom: 0;
              padding-left: calc((81 / 320) * 100%);

              &:before {
                content: "";
                position: absolute;
                left: calc((43 / 320) * 100%);
                top: 50%;
                transform: translateY(-50%);
                width: 17px;
                height: 16px;
                background: url("../assets/graphics/submenu_home_icon.svg");
                background-size: cover;
              }

              .nav-list--item-link {
                height: 100%;
                font-size: 14px;
              }
            }
          }

          .nav-list--item-link {
            img {
              margin-left: 7px;
              margin-bottom: 1px;
            }
          }
        }

        &.expanded {
          .nav-list--item-link {
            display: block;
            margin-bottom: 18px;

            img {
              transform: rotate(180deg);
              transform-origin: center center;
            }
          }
        }
      }
    }

    .button-header {
      @include button;
      margin: 0 auto;
      display: block;
    }

    @media (min-width: 1280px) {
      top: 0;
      right: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
      width: auto;
      min-width: 910px;
      height: 60px;
      min-height: unset;
      background: transparent;
      padding-bottom: unset;
      margin-left: 140px;
      overflow-y: visible;
      transform: unset;

      &-list {
        width: auto;
        min-width: 640px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 0;

        &--item {
          width: auto;
          max-width: 130px;
          min-width: 40px;
          line-height: 19px;
          margin-right: 40px;
          margin-top: 20px;
          margin-bottom: unset;

          &-link {
            line-height: 19px;
          }

          &.expandable {
            .nav-list--secondary {
              width: 300px;
              margin-left: -60px;

              .nav-list--item.secondary {
                width: 220px;
                padding-left: 81px;

                &:before {
                  left: 43px;
                }
              }
            }
          }

          &.expanded {
            .nav-list--item-link {
              display: block;
              margin-bottom: 0;

              img {
                transform: rotate(180deg);
                transform-origin: center center;
              }
            }

            .nav-list--secondary {
              width: 300px;
              margin-left: -60px;
              background: $white;

              .nav-list--item.secondary {
                width: 220px;
                padding-left: 81px;

                .nav-list--item-link {
                  width: 220px;
                  height: 59px;
                  line-height: 59px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .button-header {
        @include button;
        margin: unset;
        display: inline-block;
      }
    }
  }

  .hamburger-wrapper {
    width: 21px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;

    .hamburger-line {
      width: 21px;
      height: 2px;
      background: $orange;
      border: none;
      border-radius: 2px;

      &:not(:nth-of-type(2)) {
        width: 16px;
      }
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }

  .nav.visible {
    transform: translateX(0);
    visibility: visible;
    transition: transform 1s ease-out;

    @media (min-width: 1280px) {
      position: relative;
    }
  }
}
