@import "variables";

@mixin button {
  height: 60px;
  line-height: 60px;
  width: auto;
  min-width: 170px;
  padding: 19px 33px 20px;
  width: auto;
  background: $orange;
  color: $white;
  font-family: $grotesk-bold;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;

  &:hover {
    background: #e16c19;
    transition: background 0.5s ease-in-out;
  }
}

@mixin rodo-checkbox {
  .rodo-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .rodo-custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 17px;
    border: 1px solid #e1e2f4;
    background: transparent;
    cursor: pointer;
  }

  .rodo-checkbox-label {
    padding-top: 4px;
    padding-left: 37px;
    color: $mid-blue;
    font-family: $grotesk-reg;
    font-size: 10px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 12px;
    text-align: left;
    z-index: 2;
    cursor: pointer;
  }

  & .rodo-checkbox:checked ~ .rodo-custom-checkbox {
    background-image: url(../assets/graphics/checkbox-checked.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

@mixin input-number-arrows {
  position: relative;
  .step-up,
  .step-down {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 50%;
    background: $white;
    outline: transparent;
    margin: 0;
    padding: 0;
    border: 1px solid #e1e2f4;
    border-left: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;

    img {
      width: 10px;
      height: 7px;
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  .step-up {
    border-bottom: none;
    padding-bottom: 3px;
  }

  .step-down {
    border-top: none;
    top: unset;
    bottom: 0;
    align-items: flex-start;
    padding-top: 3px;

    img {
      transform: none;
    }
  }
}
