@import "variables";
@import "mixins";

.page-title-wrapper {
  margin-top: 48px;
  width: 100%;
  max-width: 1440px;
  position: relative;
  z-index: 3;

  @media (min-width: 768px) {
    margin-top: 115px;
  }

  .page-title {
    font-family: $grotesk-reg;
    max-width: 190px;
    margin-left: 10px;
    margin-bottom: -16px;

    .blue-text {
      height: 27px;
      color: $dark-blue;
      font-size: 22px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      display: inline-block;
      width: 100%;
    }

    .orange-text {
      color: $orange;
      font-family: $grotesk-bold;
      font-size: 36px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    .page-title {
      max-width: 700px;
      margin-bottom: -77px;
      margin-left: 5%;

      .blue-text {
        height: 36px;
        font-size: 30px;
      }

      .orange-text {
        height: 50px;
        font-size: 40px;
      }
    }
  }
  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;

    .page-title {
      justify-self: flex-start;
      width: 1244px;
      max-width: 1244px;
      margin-left: 0;

      .blue-text {
        font-size: 45px;
        line-height: normal;
      }

      .orange-text {
        font-size: 45px;
        line-height: normal;
      }
    }
  }
}
