// COLORS
$dark-blue: #232740;
$blue: #1f2e5b;
$light-blue: #9ea2b0;
$orange: #f5812e;
$footer-bg: #f5f6fc;
$white: #ffffff;
$light-bg: #fbfbff;

// FONTS
$poppins: "Poppins", sans-serif;
$grotesk-reg: Aktiv_Grotesk_Regular, sans-serif;
$grotesk-bold: Aktiv_Grotesk_Bold, sans-serif;
